<!DOCTYPE html>
<html id="about-us" lang="en">

<head>
    <!-- General meta tags -->
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Site specific tags -->
    <title>TechNest | <%= title %></title>
    <!-- Style sheets -->
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.cdnfonts.com/css/cascadia-code" rel="stylesheet">
    <!-- JavaScript files -->
    
</head>

<body>

    <header>
        <div id="header-logo">
            <a href="index">
                <img id="site-logo" src="./images/logo.png" alt="TechNest Logo" width="150" height="50"> 
            </a>
        </div>
        <div id="header-logo">
            <a href="index">
                <h1>TechNest Solutions</h1>
            </a>
            
        </div>
        
        <nav>
            <ul>
                <li>
                    <a href='index'> Home Page </a>
                </li>
                <li>
                    <a href='about'> About Us </a>
                </li>
                <li>
                    <a href="employees"> Departments </a>
                </li>
            
                <li>
                    <a href="contact"> Contact Us </a>
                </li>

            </ul>
        </nav>
        


    </header>

    

    <main class="about-us">
        
        
        <div class="sub-header">
            <h1>About Us</h1>
        </div>

        <h2>Our Founders</h2>
        <div class="section team-section">
            
            <div class="team-member">
                <img class="teamlogo" src="./images/devlogo.png">
                <h3>Mohammed Alsaket</h3>
                <p>Co-Founder & Graphic Designer</p>
                <hr>
                <div class="contact-info">
                    <a href=""><img class="fblogo" src="./images/fblogo.png"></a>
                    <a href=""><img class="xlogo" src="./images/xlogo.png"></a>
                    <a href=""><img class="linkedin" src="./images/linkedin.png"></a>
                </div>

            </div>
            <div class="team-member">
                <img class="teamlogo" src="./images/devlogo.png">
                <h3>Faisal Albattal</h3>
                <p>Mobile App Developer </p>
                <hr>
                <div class="contact-info">
                    <a href=""><img class="fblogo" src="./images/fblogo.png"></a>
                    <a href=""><img class="xlogo" src="./images/xlogo.png"></a>
                    <a href=""><img class="linkedin" src="./images/linkedin.png"></a>
                </div>
                
            </div>
            <div class="team-member">
                <img class="teamlogo" src="./images/devlogo.png">
                <h3>Ismail Meskinyar</h3>
                <p>Founder & Web Developer</p>
                <hr>
                <div class="contact-info">
                    <a href=""><img class="fblogo" src="./images/fblogo.png"></a>
                    <a href=""><img class="xlogo" src="./images/xlogo.png"></a>
                    <a href=""><img class="linkedin" src="./images/linkedin.png"></a>
                </div>
            </div>

           
        </div>
        <div class="section services-section">
            <h2>Our Services</h2>
            <div class="services-container">
                <div class="services service-1"><img class="service-logo" src="./images/webdevlogo.png"><b><p>Web Development</p></b></div>
                <div class="services service-2"><img class="service-logo" src="./images/appdevlogo.png"><b><p>Mobile App Development</p></b></div>
                <div class="services service-3"><b><p>Hosting and Migration Services</p></b></div>
                <div class="services service-4"><b><p>Product Strategy and Consulting</p></b></div>
                <div class="services service-5"><b><p>Quality Assurance and Testing</p></b></div>
                <div class="services service-6"><b><p>Maintenance and Support</p></b></div>
                <div class="services service-7"><b><p>ECommerce Solutions</p></b></div>
            </div>
        </div>
        <div class="section tool-section">
            <h2>Our Tools</h2>
            <hr>
            <div class="tool-container">
                <div class="tools tool-1"><img class="tool-logo" src="./images/flutterpng.png"></div>
                <div class="tools tool-2"><img class="tool-logo" src="./images/netlogo.png"></div>
                <div class="tools tool-3"><img class="tool-logo" src="./images/nodejslogo.png"></div>
                <div class="tools tool-4"><img class="tool-logo" src="./images/phplogo.png"></div>
                <div class="tools tool-3"><img class="tool-logo" src="./images/vuelogo.png"></div>
                <div class="tools tool-4"><img class="tool-logo" src="./images/reactlogo.png"></div>
                
            </div>
        </div>
    </main>

   
    <footer>
        <div class="section">
           
            <p>Ready to take your business to the next level with innovative software solutions?
                Contact us <a href="/Contact"><span class="here"><i>here</i></span></a>.

            </p>
            
        </div>
        <div class="contact-info">
            <p>Follow us on</p>
            <a href=""><img class="fblogo" src="./images/fblogo.png"></a>
            <a href=""><img class="xlogo2" src="./images/xlogo2.png"></a>
            <a href=""><img class="iglogo" src="./images/iglogo.png"></a>
        </div>
        <hr>
        

        <p>&copy; 2024 TechNest Solutions
        </p>
        <p>Riyadh | London | Abu Dhabi</p>
    </footer>
</body>

</html>