<!DOCTYPE html>
<html lang="en">

<head>
    <!-- General meta tags -->
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Site specific tags -->
    <title>TechNest | <%= title %></title>
    <!-- Style sheets -->
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.cdnfonts.com/css/cascadia-code" rel="stylesheet">
    <!-- JavaScript files -->
</head>

<body>
    <header>
        <div id="header-logo">
            <a href="index">
                <img id="site-logo" src="./images/logo.png" alt="TechNest Logo" width="150" height="50">
            </a>
        </div>
        <div id="header-logo">
            <a href="index">
                <h1>TechNest Solutions</h1>
            </a>
        </div>

        <nav>
            <ul>
                <li><a href="index">Home Page</a></li>
                <li><a href="about">About Us</a></li>
                <li><a href="employees">Departments</a></li>
                <li><a href="contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <main class="about-us">
        <div class="sub-header">
            <h1>Who Are We</h1>
        </div>
        <div class="section welcome-section">
            <p>At TechNest Solutions, we're driven by innovation and dedicated to shaping the future of technology.
                As a dynamic startup in the software industry, we're passionate about developing cutting-edge solutions that
                empower businesses and individuals to thrive in the digital age.
            </p>
        </div>
        <div class="section section-wsua">
            <h2>What Sets Us Apart</h2>
            <details>
                <summary><b>1. Innovative Solutions</b></summary>
                <p>We're constantly pushing the boundaries of what's possible, leveraging emerging technologies and fresh ideas to deliver innovative software solutions that drive results.</p>
            </details>
            <details>
                <summary><b>2. User-Centric Approach</b></summary>
                <p>We place the needs and preferences of our users at the forefront of everything we do. By prioritizing user experience and feedback, we ensure that our solutions are intuitive, user-friendly, and tailored to meet the demands of modern businesses and individuals.</p>
            </details>
            <details>
                <summary><b>3. Agile Development</b></summary>
                <p>We embrace agile development methodologies to adapt quickly to changing market dynamics and customer requirements. This allows us to deliver high-quality software products efficiently and with maximum flexibility.</p>
            </details>
            <details>
                <summary><b>4. Professional Team</b></summary>
                <p>Our team consists of talented professionals with diverse backgrounds and expertise in software development, design, and project management. With a passion for technology and a shared commitment to excellence, we work collaboratively to bring our clients' visions to life.</p>
            </details>
        </div>
        <div class="section services-section">
            <h2>Our Services</h2>
            <div class="services-container">
                <div class="services service-1">
                    <img class="service-logo" src="./images/webdevlogo.png">
                    <b><p>Web Development</p></b>
                </div>
                <div class="services service-2">
                    <img class="service-logo" src="./images/appdevlogo.png">
                    <b><p>Mobile App Development</p></b>
                </div>
                <div class="services service-3">
                    <b><p>Hosting and Migration Services</p></b>
                </div>
                <div class="services service-4">
                    <b><p>Product Strategy and Consulting</p></b>
                </div>
                <div class="services service-5">
                    <b><p>Quality Assurance and Testing</p></b>
                </div>
                <div class="services service-6">
                    <b><p>Maintenance and Support</p></b>
                </div>
                <div class="services service-7">
                    <b><p>ECommerce Solutions</p></b>
                </div>
            </div>
        </div>
        <div class="section section-vision">
            <h2>Our Vision</h2>
            <p>Our vision is to revolutionize the way people interact with technology.
                We believe in harnessing the power of innovation to create intuitive, efficient, and impactful
                software solutions that address real-world challenges and elevate user experiences.
            </p>
        </div>
    </main>

    <footer>
        <div class="section">
            <p>Ready to take your business to the next level with innovative software solutions?
                Contact us <a href="/Contact"><span class="here"><i>here</i></span></a>.
            </p>
        </div>
        <div class="contact-info">
            <p>Follow us on</p>
            <a href=""><img class="fblogo" src="./images/fblogo.png"></a>
            <a href=""><img class="xlogo2" src="./images/xlogo2.png"></a>
            <a href=""><img class="iglogo" src="./images/iglogo.png"></a>
        </div>
        <hr>
        <p>&copy; 2024 TechNest Solutions</p>
        <p>Riyadh | London | Abu Dhabi</p>
    </footer>
</body>

</html>
